#tr_word_input {
}

/* Top border of the tile goes "inside" the hero */
.tile{
    margin-top:-0.1em;
    margin-left: 1em;
}

.notification{
    display: flex;
    justify-content: center;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}

ul {
    background: #3399ff;
    padding: 20px;
}

article{
}

#tr_button, #login_buttons{
    margin-top: 20%;
    margin-left: 18%;
    width: 80%;
    height: 60%;
}

/* Overlap tiles so they don't have round corners at the top */
.hero {
    position: relative;
    z-index:2;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.mobile_table_button{
    height: 2em;
    width 1.5em;
}
/* popup Content/Box */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 75%;
}

.fa-star {
    color: yellowgreen;
}

.fa-remove {
    color:red;
}
/* The Close Button */
.close, .pdf-span {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .pdf-span:hover,
.close:focus, .pdf-span:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*
#dialog_overlay {
    width: 50%;
    height: 50%;

    filter:alpha(opacity=50);
    opacity: 0.5;
    background: #000;
    position:absolute;
    top:0;
    left:0;
    z-index: 1000;
}
#dialog_history {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background:#eee;
    position: absolute;
    z-index: 5000;
}

#dialog_box .dialog_content {
    text-align:left;
    padding:10px;
    margin:13px;
    color:#666;
    font-family:arial;
    font-size:11px;
}
*/